
@import "../sass-shared/variables";

#blog-sap {
  nav.BlogNav {
    height: 3rem;
    width: 100vw;
    background-color: $navbarColor;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;

    span {
      padding: 1rem;
      a {
        color: inherit;
        text-decoration: none;
        font-size: larger ;
      }
    }
  }
}